@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  background-color: black;
  color: white;
  min-height: 100vh;
}
/* Floating thin scrollbar*/
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s;
}
*:hover {
  scrollbar-color: rgba(250, 193, 217, 0.3) transparent;
}
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 999px;
  transition: background 0.3s;
}
*:hover::-webkit-scrollbar-thumb {
  background: rgba(250, 193, 217, 0.3);
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(250, 193, 217, 0.6);
}